<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>control.LoginControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanyLoginControl</servlet-name>
        <servlet-class>control.CompanyLoginControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyLoginControl</servlet-name>
        <url-pattern>/CompanyLoginControl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateControl</servlet-name>
        <servlet-class>control.UpdateControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateControl</servlet-name>
        <url-pattern>/student/UpdateControl</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>StudentRegisterControl</servlet-name>
        <servlet-class>control.StudentRegisterControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegisterControl</servlet-name>
        <url-pattern>/StudentRegisterControl</url-pattern>
    </servlet-mapping>

    <servlet>

        <servlet-name>ApplyToJobControl</servlet-name>
        <servlet-class>control.ApplyToJobControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplyToJobControl</servlet-name>
        <url-pattern>/ApplyToJobControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyRegisterControl</servlet-name>
        <servlet-class>control.CompanyRegisterControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyRegisterControl</servlet-name>
        <url-pattern>/CompanyRegisterControl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanyUpdateControl</servlet-name>
        <servlet-class>control.CompanyUpdateControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyUpdateControl</servlet-name>
        <url-pattern>/company/CompanyUpdateControl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteJobControl</servlet-name>
        <servlet-class>control.DeleteJobControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteJobControl</servlet-name>
        <url-pattern>/DeleteJobControl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanyAddJobControl</servlet-name>
        <servlet-class>control.CompanyAddJobControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyAddJobControl</servlet-name>
        <url-pattern>/company/CompanyAddJobControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnApplyToJobControl</servlet-name>
        <servlet-class>control.UnApplyToJobControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnApplyToJobControl</servlet-name>
        <url-pattern>/UnApplyToJobControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateCompanyReviewControl</servlet-name>
        <servlet-class>control.CreateCompanyReviewControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCompanyReviewControl</servlet-name>
        <url-pattern>/CreateCompanyReviewControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResumeReviewSubmissionControl</servlet-name>
        <servlet-class>control.ResumeReviewSubmissionControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResumeReviewSubmissionControl</servlet-name>
        <url-pattern>/student/resume/ResumeReviewSubmissionControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCompanyReviewControl</servlet-name>
        <servlet-class>control.DeleteCompanyReviewControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCompanyReviewControl</servlet-name>
        <url-pattern>/DeleteCompanyReviewControl</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddProgramControl</servlet-name>
        <servlet-class>control.AddProgramControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProgramControl</servlet-name>
        <url-pattern>/program/AddProgramControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortJobsControl</servlet-name>
        <servlet-class>control.SortJobsControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortJobsControl</servlet-name>
        <url-pattern>/SortJobsControl</url-pattern>
    </servlet-mapping>
</web-app>